<div class="horizontal-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pagina1">Pagina 1</a></li>
        <li><a href="/pagina2">Pagina 2</a></li>
        <!-- Aggiungi altri elementi del menu secondo le tue esigenze -->
    </ul>
</div>

<style>
    .horizontal-menu {
        background-color: #333; /* Colore di sfondo del menu */
        overflow: hidden;
    }

        .horizontal-menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .horizontal-menu li {
            float: left;
        }

            .horizontal-menu li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

    /* Aggiungi altri stili CSS secondo le tue esigenze */
</style>
