@inherits LayoutComponentBase

<PageTitle>Taurinorum.Center</PageTitle>

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <div>
        <NavMenu />
    </div>
    <main style="margin-top: 80px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
