@using Blazored.Typeahead
@page "/IvaList"
@using Taurinorum.Object.DataTrasportObject
@using Taurinorum.Object.FilterModel
@using Taurinorum.Center.Shared.Component
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject NavigationManager NavManager
@inject ProtectedSessionStorage ProtectedSessionStore
@inherits BaseListPage

@if (utente.Admin || SelezionaDett)
{
    <div class="col-10 row" style="display: flex; align-items: center;">
        <div class="col-6">
            <FormBase NomeCampo="Codice">
                <InputText style="width:200px" @bind-Value="Filtro.Codice"></InputText>
            </FormBase>
            <FormBase NomeCampo="Codice Fiscale" Style="margin-top: 10px;">
                <InputText style="width:100%" @bind-Value="Filtro.Descrizione"></InputText>
            </FormBase>
            <FormBase NomeCampo="Descrizione 2" Style="margin-top: 10px;">
                <InputText style="width:100%" @bind-Value="Filtro.Descrizione2"></InputText>
            </FormBase>
        </div>
    </div>

    <br>

    @if (ListIvaDTO != null)
    {
        <div style="overflow-y: auto; height:100%; max-height: @(Convert.ToInt32(LunghezzaModale)/100*49 + "px");">
            <table class="table table-responsive">
                <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                    <tr>
                        <th style="text-align: center;">Codice</th>
                        <th style="text-align: center;">Descrizione</th>
                        <th style="text-align: center;">Descrizione 2</th>
                        <th style="text-align: center;">Elimina</th>
                        @if(SelezionaDett)
                        {
                            <th style="text-align: center;">Seleziona</th>
                        }
                        else
                        {
                            <th style="text-align: center;">Modifica</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Iva in ListIvaDTO)
                    {
                        <tr>
                            <td style="text-align: center;">@Iva.Codice</td>
                            <td style="text-align: center;">@Iva.Descrizione</td>
                            <td style="text-align: center;">@Iva.Descrizione2</td>
                            <td style="text-align: center;"><button @onclick="() => Elimina(Iva.ID)" class="btn btn-site" style="border-width:0px; background-color:white; height:auto" target="_self">Elimina</button></td>
                            @if (SelezionaDett)
                            {
                                <td style="text-align: center;"><button @onclick="() => Seleziona(Iva.ID)" class="btn btn-site" style="border-width:0px; background-color:white; height:auto" target="_self">Seleziona</button></td>
                            }
                            else
                            {
                                <td style="text-align: center;"><button @onclick="() => Modifica(Iva.ID)" class="btn btn-site" style="border-width:0px; background-color:white; height:auto" target="_self">Modifica</button></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}