@using Blazored.Typeahead
@page "/ModalitaPagamentoDett"
@using Taurinorum.Object.DataTrasportObject
@using Taurinorum.Object.FilterModel
@using Taurinorum.Center.Shared.Component
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject NavigationManager NavManager
@inject ProtectedSessionStorage ProtectedSessionStore
@inherits BaseDettPage

<PageTitle>Attivita Ceduta</PageTitle>
@if (utente.Admin || SelezionaDett)
{
    <div class="row" style="display: flex; align-items: center;">
        <div>
            <FormBase NomeCampo="Codice" Style="margin-top: 10px;">
                <InputText style="width:200px" @bind-Value="Dettaglio.Codice"></InputText>
            </FormBase>
            <br>
            <FormBase NomeCampo="Descrizione">
                <InputTextArea style="width:600px" @bind-Value="Dettaglio.Descrizione"></InputTextArea>
            </FormBase>
            <br>
            <FormBase NomeCampo="Descrizione2">
                <InputTextArea style="width:600px" @bind-Value="Dettaglio.Descrizione2"></InputTextArea>
            </FormBase>
        </div>
    </div>
}
